DATABASE_TYPE=mysql # postgres, oracle

ORACLE_PASSWORD=
POSTGRES_PASSWORD=
MYSQL_PASSWORD=

PRIVATE_API_JWT_ENABLED=true
PRIVATE_API_JWT_SECRET=
PRIVATE_API_JWT_SECURE=true

HEALTHAUTHORITY_API_DB_USERNAME=healthauthority_api
HEALTHAUTHORITY_API_DB_PASSWORD=

PORTAL_DB_USERNAME=portal
PORTAL_DB_PASSWORD=
PORTAL_APP_URL=https://localhost:8084

# Generate a random key for the portal app by running:
# echo "base64:$(openssl rand -base64 32)" 
# and paste the result here.
PORTAL_APP_KEY=

# Test client id at the identity hub
PORTAL_TIH_CLIENT_ID=1462274220640825445
PORTAL_TIH_CLIENT_SECRET=
PORTAL_TIH_REDIRECT_URL=http://localhost:8084/auth/login

# The roles to check for access control
# Use DBCO-x-Acceptatie for acceptance
# Use DBCO-x-Test for all other dev/test environments
# Use DBCO-x for production
PORTAL_USER_ROLE_USER=DBCO-Gebruiker-Test
PORTAL_USER_ROLE_PLANNER=DBCO-Werkverdeler-Test
PORTAL_USER_ROLE_ADMIN=DBCO-Beheer-Test

# Number, e.g. 123456.
HSM_SO_PIN=
HSM_USER_PIN=

DEBUG=0
