{{- $testing_env := dict -}}
{{- if datasourceReachable "testing_env"}}{{$testing_env = ds "testing_env"}}{{end -}}

APP_NAME={{"APP_NAME" | index (ds "env") | default "BCO Portaal" | strings.Quote}}
APP_TYPE={{"APP_TYPE" | index (ds "env") | default "portal" | strings.Quote}}
APP_ENV={{"APP_ENV" | index (ds "env") | default "test" | strings.Quote}}
APP_ENV_NAME={{"APP_ENV" | index (ds "env") | default "test" | strings.Quote}} {{/* #TODO: should this not be APP_ENV_NAME ?? */}}
APP_KEY={{"APP_KEY" | index $testing_env | default ("PORTAL_APP_KEY" | index (ds "env") | default (printf "base64:%s" (random.ASCII 32 | base64.Encode))) | strings.Quote}}
APP_DEBUG={{"DEBUG" | index (ds "env") | default 1}}
APP_URL={{"PORTAL_APP_URL" | index (ds "env") | default "http://localhost:8094"}}

DB_CONNECTION={{"DB_CONNECTION" | index $testing_env | default (index (ds "env") "PORTAL_DB_CONNECTION" | default "mysql")}}
DB_HOST={{"DB_HOST" | index $testing_env | default ("PORTAL_DB_HOST" | index (ds "env") | default "mysql")}}
DB_DATABASE={{"DB_DATABASE" | index $testing_env | default ("PORTAL_DB_DATABASE" | index (ds "env") | default "portal") | strings.Quote}}
DB_USERNAME={{"DB_USERNAME" | index $testing_env | default ("PORTAL_DB_USERNAME" | index (ds "env") | default "root") | strings.Quote}}
DB_PASSWORD={{"DB_PASSWORD" | index $testing_env | default ("PORTAL_DB_PASSWORD" | index (ds "env") | default "") | strings.Quote}}

LOG_CHANNEL={{"LOG_CHANNEL" | index (ds "env") | default "stderr"}}
QUEUE_CONNECTION={{"QUEUE_CONNECTION" | index $testing_env | default ("PORTAL_QUEUE_CONNECTION" | index (ds "env") | default "sync") | strings.Quote}}

SESSION_LIFETIME={{"SESSION_LIFETIME" | index $testing_env | default ("PORTAL_SESSION_LIFETIME" | index (ds "env") | default 30)}}
SESSION_SECURE_COOKIE={{"SESSION_SECURE_COOKIE" | index $testing_env | default ("PORTAL_SESSION_SECURE_COOKIE" | index (ds "env") | default "false")}}

REDIS_HOST={{"REDIS_HOST" | index (ds "env") | default "redis-hap"}}
REDIS_PORT={{"REDIS_PORT" | index (ds "env") | default 6379}}
REDIS_USERNAME={{"REDIS_USERNAME" | index $testing_env | default ("REDIS_HAP_USERNAME" | index (ds "env") | default "") | strings.Quote}}
REDIS_PASSWORD={{"REDIS_PASSWORD" | index $testing_env | default ("REDIS_HAP_PASSWORD" | index (ds "env") | default "") | strings.Quote}}

MAIL_MAILER={{"MAIL_MAILER" | index $testing_env | default ("PORTAL_MAIL_MAILER" | index (ds "env") | default "smtp_bcomail") | strings.Quote}}

SMTP_BCOMAIL_HOST={{"SMTP_BCOMAIL_HOST" | index $testing_env | default ("PORTAL_SMTP_BCOMAIL_HOST" | index (ds "env") | default "smtp")}}
SMTP_BCOMAIL_PORT={{"SMTP_BCOMAIL_PORT" | index $testing_env | default ("PORTAL_SMTP_BCOMAIL_PORT" | index (ds "env") | default "1025")}}
SMTP_BCOMAIL_ENCRYPTION={{"SMTP_BCOMAIL_ENCRYPTION" | index $testing_env | default ("PORTAL_SMTP_BCOMAIL_ENCRYPTION" | index (ds "env") | default "null") | strings.Quote}}

ZIVVER_HOST={{"ZIVVER_HOST" | index $testing_env | default ("PORTAL_ZIVVER_HOST" | index (ds "env") | default "smtp")}}
ZIVVER_PORT={{"ZIVVER_PORT" | index $testing_env | default ("PORTAL_ZIVVER_PORT" | index (ds "env") | default "1025")}}
ZIVVER_ENCRYPTION={{"PORTAL_ZIVVER_ENCRYPTION" | index $testing_env | default ("PORTAL_ZIVVER_ENCRYPTION" | index (ds "env") | default "null")}}

# Services

LOCATION_BASE_URI={{"LOCATION_BASE_URI" | index (ds "env") | default ""}}
LOCATION_API_KEY={{"LOCATION_API_KEY" | index (ds "env") | default "" | strings.Quote}}

TIH_CLIENT_ID={{"TIH_CLIENT_ID" | index $testing_env | default ("PORTAL_TIH_CLIENT_ID" | index (ds "env") | default 1462274220640825445)}}
TIH_CLIENT_SECRET={{"TIH_CLIENT_SECRET" | index $testing_env | default ("PORTAL_TIH_CLIENT_SECRET" | index (ds "env") | default (printf "base64:%s" (random.ASCII 32 | base64.Encode))) | strings.Quote}}
TIH_REDIRECT_URL={{"TIH_REDIRECT_URL" | index $testing_env | default ("PORTAL_TIH_REDIRECT_URL" | index (ds "env") | default "/auth/login")}}

BSN_PROVIDER={{"BSN_PROVIDER" | index (ds "env") | default "local"}}

MITTENS_BASE_URI={{"MITTENS_BASE_URI" | index (ds "env") | default ""}}
MITTENS_CLIENT_SSL_CERT={{"MITTENS_CLIENT_SSL_CERT" | index (ds "env") | default "" | strings.Quote}}
MITTENS_CLIENT_SSL_KEY={{"MITTENS_CLIENT_SSL_KEY" | index (ds "env") | default "" | strings.Quote}}
MITTENS_DIGID_ACCESS_TOKENS_PATH={{"MITTENS_DIGID_ACCESS_TOKENS_PATH" | index (ds "env") | default "" | strings.Quote}}
MITTENS_PII_ACCESS_TOKENS_PATH={{"MITTENS_PII_ACCESS_TOKENS_PATH" | index (ds "env") | default "" | strings.Quote}}
MITTENS_PSEUDO_BSN_TOKENS_FOR={{"MITTENS_PSEUDO_BSN_TOKENS_FOR" | index (ds "env") | default "secure_mail" | strings.Quote}}

# Authentication

ALLOW_DEMO_LOGIN={{"PORTAL_ALLOW_DEMO_LOGIN" | index $testing_env | default ("PORTAL_ALLOW_DEMO_LOGIN"  | index (ds "env") | default "true")}}

#Osiris
OSIRIS_SEND_CASE_ENABLED={{"OSIRIS_SEND_CASE_ENABLED" | index $testing_env | default ("OSIRIS_SEND_CASE_ENABLED" | index (ds "env") | default "false")}}
OSIRIS_USE_MOCK_CLIENT={{"OSIRIS_USE_MOCK_CLIENT" | index $testing_env | default ("OSIRIS_USE_MOCK_CLIENT" | index (ds "env") | default "true")}}
OSIRIS_BASE_URL={{"OSIRIS_BASE_URL" | index $testing_env | default ("OSIRIS_BASE_URL" | index (ds "env") | default "http://localhost:8080/osiris/wsdl")}}

# Message Transport

SECURE_MAIL_BASE_URL={{"SECURE_MAIL_BASE_URL" | index (ds "env") | default ""}}
SECURE_MAIL_JWT_SECRET={{"SECURE_MAIL_JWT_SECRET" | index (ds "env") | default "" | strings.Quote}}

# Message Queue

AMQP_QUEUE_INTAKE_DECLARE_EXCHANGE_AND_QUEUE={{"AMQP_QUEUE_INTAKE_DECLARE_EXCHANGE_AND_QUEUE" | index $testing_env | default ("PORTAL_AMQP_QUEUE_INTAKE_DECLARE_EXCHANGE_AND_QUEUE" | index (ds "env") | default "true")}}

# Security

INDEX_SALT={{"INDEX_SALT" | index (ds "env") | default (random.AlphaNum 16) | strings.Quote}}
TRUSTED_HOSTS={{"TRUSTED_HOSTS" | index (ds "env") | default "" | strings.Quote}}
EXPORT_CURSOR_JWT_SECRET={{"EXPORT_CURSOR_JWT_SECRET" | index (ds "env") | default (random.ASCII 32 | base64.Encode) | strings.Quote}}

# Search Hash
SEARCH_HASH_JOB_CONNECTION={{"SEARCH_HASH_JOB_CONNECTION" | index (ds "env") | default "sync" | strings.Quote}}

# Trusted Proxies

TRUSTED_PROXIES={{"TRUSTED_PROXIES" | index (ds "env") | default "*" | strings.Quote}} {{/* #TODO: Should be added to config and replace env() call in middleware with config() call */}}

# Assignment

ASSIGNMENT_JWT_SECRET={{"ASSIGNMENT_JWT_SECRET" | index (ds "env") | default (random.ASCII 32 | base64.Encode) | strings.Quote}}

# Schema

# By defining an empty env it will be set to the latest schema version:
SCHEMA_ELOQUENTCASE_VERSION=
