.dropdown {
    A.label {
        color: $light-grey;
    }
}

.dropdown-menu {
    max-height: 20rem;
    overflow-y: auto;

    .empty {
        display: none;
    }

    A.dropdown-item, SPAN.dropdown-item {
        font-size: $font-size-sm;
    }

}

