.icon {

    &--category-accommodatie {
        background-image: url('../img/category-accomodatie.svg');
    }

    &--category-anders {
        background-image: url('../img/category-anders.svg');
    }

    &--category-bioscoop {
        background-image: url('../img/category-bioscoop.svg');
    }

    &--category-onderwijs {
        background-image: url('../img/category-onderwijs.svg');
    }

    &--category-overig {
        background-image: url('../img/category-overig.svg');
    }

    &--category-vereniging {
        background-image: url('../img/category-vereniging.svg');
    }

    &--category-ziekenhuis {
        background-image: url('../img/category-ziekenhuis.svg');
    }

    &--category-bedrijf {
        background-image: url('../img/category-bedrijf.svg');
    }

    &--category-horeca {
        background-image: url('../img/category-horeca.svg');
    }

    &--category-opvang {
        background-image: url('../img/category-opvang.svg');
    }

    &--category-transport {
        background-image: url('../img/category-transport.svg');
    }

    &--category-thuis {
        background-image: url('../img/category-thuis.svg');
    }

    &--category-onbekend {
        background-image: url('../img/category-onbekend.svg');
    }

    &--category-vliegtuig {
        background-image: url('../img/category-vliegtuig.svg');
    }

    &--category-vvt {
        background-image: url('../img/category-vvt.svg');
    }

    &--category-zorginstelling {
        background-image: url('../img/category-zorginstelling.svg');
    }

    &--category-zorg {
        background-image: url('../img/category-zorg.svg');
    }

}
