.nav-tabs {
  border-color: $input-grey;
  max-width: 95%;

    &--borderless {
        border-bottom: none;
    }

    .nav-link {
        color: $light-grey;
        margin-right: 1rem;
        padding: 1rem 0;
        margin-bottom: 0px;

        @media (min-width: $breakpoint-md) {
            margin-right: 1.5rem;
        }

        &.active,
        &:hover {
            color: $black;
        }

        &.active {
            border-color: transparent;
            border-bottom-color: $bco-purple;
            border-bottom-width: 4px;
        }
    }

    &--in-card {
        .nav-link {
          padding-bottom: 0.5rem;
        }
    }

  .nav-item {
      margin-bottom: 0;

      &:last-child > .nav-link {
        margin-right: 0;
      }
  }
}
