/**
 * This file contains all the different table styles which are available for use.
 */
.table {
    &--align-start {
        vertical-align: top;
    }
    &--spacious {
        tbody {
            tr {
                height: 65px;
            }
        }
    }
    &--spacious-lg {
        tbody {
            tr {
                height: 80px;
            }
        }
    }
    &--padding-cells-left-none {
        tr {
            th {
                padding: 0.6rem 0;
            }
            td {
                padding: 0.75rem 0;
            }
        }
    }
    &--clickable {
        tbody tr {
            cursor: pointer;

            &.disabled {
                cursor: not-allowed;
            }
        }
    }
}

/**
 * Table with custom styling for use within the GGD BCO portal.
 */
.table-ggd {
    word-wrap: break-word;

    background-color: $white;
    border: none;

    th,
    td {
        font-size: $font-size-sm;
    }

    thead th {
        border-top: 0;
        text-transform: uppercase;
        font-weight: 500;
        color: $lighter-grey;
        border-bottom: none;
        vertical-align: middle;
    }

    tbody tr {
        th {
            font-weight: 500;
            color: $black;
        }

        td {
            &.td-icon {
                width: 16px;
                padding: 0px;
                border: none;
            }
            &.td--data-status {
                font-weight: bold;
            }
            .btn.dropdown-toggle.btn-link {
                padding: 0;
            }
            input[disabled='disabled'],
            select[disabled='disabled'],
            textarea[disabled='disabled'] {
                background-color: $input-disabled-bg;
            }
        }

        th,
        td {
            vertical-align: middle;
        }

        td.td-chevron {
            padding: 0px;
            color: $primary;
            text-align: right;
            width: 1.5rem;
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    &.with-sort {
        thead th {
            background-position: right calc(0.75rem / 2) center;
            padding-right: calc(0.75rem + 0.65em);
            background-repeat: no-repeat;
            background-size: 0.65em 1em;

            &[aria-sort] {
                cursor: pointer;
            }

            &[aria-sort='none'] {
                background-image: none;
            }

            &[aria-sort='ascending'] {
                background-image: url('../img/arrow-up.svg');
            }

            &[aria-sort='descending'] {
                background-image: url('../img/arrow-down.svg');
            }
        }
    }

    &.table-bordered {
        thead tr,
        tbody tr,
        tfoot tr {
            th,
            td {
                border-left: 0;
            }

            th:last-child,
            td:last-child {
                border-right: 0;
            }
        }

        tbody tr:not(:first-child) {
            td,
            th {
                border-top: 0;
            }
        }

        tfoot tr:first-child {
            td,
            th {
                border-top: 0;
            }
        }

        tfoot tr:last-child {
            td,
            th {
                border-bottom: 0;
            }
        }
    }
}

/**
 * Table with rounded borders.
 */

@mixin top-radius {
    th:first-child,
    td:first-child {
        border-top-left-radius: $border-radius-small;
    }

    th:last-child,
    td:last-child {
        border-top-right-radius: $border-radius-small;
    }
}

@mixin bottom-radius {
    th:first-child,
    td:first-child {
        border-bottom-left-radius: $border-radius-small;
    }

    th:last-child,
    td:last-child {
        border-bottom-right-radius: $border-radius-small;
    }
}

.table-rounded {
    border-radius: $border-radius-small;
    border-spacing: 0;
    border-collapse: separate;

    &.table-has-header thead {
        @include top-radius;
    }

    &:not(.table-has-header) tbody tr:first-child {
        @include top-radius;
    }

    &.table-has-footer tfoot tr:last-child {
        @include bottom-radius;
    }

    &:not(.table-has-footer) tbody tr:last-child {
        @include bottom-radius;
    }
}

/**
 * Table with inline form fields.
 */
.table-form {
    tr {
        &:last-child td {
            border-bottom: none;
        }

        td {
            border-bottom-color: $bco-grey;
            &.flex-start {
                display: flex;
                align-items: flex-start;
            }
            .input-group {
                width: auto;
            }
        }

        td,
        th {
            &:first-child {
                border-left: none;
                padding-left: 0;
            }
        }
    }

    tbody tr td {
        position: relative;
        padding-top: 3px;
        padding-bottom: 3px;

        border-left: 1px solid $bco-grey;

        input,
        select,
        textarea {
            display: block;
            border-radius: 0;
            top: 0;
            left: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            border: none !important;

            &:focus {
                box-shadow: none;
                outline: 1px solid $input-btn-focus-color;
            }

            &:not(:focus) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        select {
            appearance: none;
            background-color: $white;
            background-image: url('../img/arrow-down.svg');
            background-repeat: no-repeat;
            background-position: right 12px center;
            background-size: auto;
        }
    }
}

span.infinite-loader {
    color: $bco-purple;
    font-size: $font-size-sm;
    font-weight: bold;
}
