@import '@dbco/ui-library/base';
@import 'variables';

/**
 * Import Bootstrap assets.
 */
@import 'bootstrap/scss/bootstrap.scss';

/**
 * Bootstrap Vue assets
 */
@import 'bootstrap-vue/src/index.scss';

html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.5px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.167;
}

h3 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.333;
    letter-spacing: 0.15px;
}
h4 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.15px;
}

ol.list,
ul.list {
    padding-left: 1rem;

    li {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.highlight {
    color: $bco-purple;
}

.mono-font {
    font-family: Roboto Mono;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.15px;
}

[v-cloak] {
    display: none;
}

// Mixins
@import 'mixins/gap';

/**
 * Import overrides.
 */
@import 'animations';
@import 'badge';
@import 'banner';
@import 'section';
@import 'buttons';
@import 'calendar';
@import 'clipboard';
@import 'consent';
@import 'custombootstrap';
@import 'dbco-components';
@import 'form-chapter';
@import 'form-heading';
@import 'form';
@import 'icon-categories';
@import 'icon';
@import 'login';
@import 'modal';
@import 'nav-bar';
@import 'nav-tabs';
@import 'place-select';
@import 'privacy';
@import 'spinner';
@import 'sticky-top';
@import 'support';
@import 'table';
@import 'tabs';
@import 'tooltip';
