./src/.env
./src/bootstrap/cache/*
./src/node_modules
./src/public/js/*
./src/public/css/*
./src/public/mix-manifest.json
./src/storage/app/*
./src/storage/framework/cache/*
./src/storage/framework/sessions/*
./src/storage/framework/views/*
./src/storage/logs/*
./src/vendor