{{- $app_env := dict -}}
{{- if datasourceReachable "app_env"}}{{$app_env = ds "app_env"}}{{end -}}

APP_KEY={{"APP_KEY" | index $app_env | default ("GATEWAY_APP_KEY" | index (ds "env") | default (printf "base64:%s" (random.ASCII 32 | base64.Encode))) | strings.Quote}}
APP_URL={{"GATEWAY_APP_URL" | index (ds "env") | default "http://localhost:8085"}}
APP_NAME={{"APP_NAME" | index (ds "env") | default "gateway" | strings.Quote}}
APP_ENV={{"APP_ENV" | index (ds "env") | default "development" | strings.Quote}}
APP_DEBUG={{"DEBUG" | index (ds "env") | default 1}}

GATEWAY_JWT_SECRET={{"GATEWAY_JWT_SECRET" | index (ds "env") | default "" | strings.Quote}}
ENCRYPTION_PUBLIC_KEY={{"ENCRYPTION_PUBLIC_KEY" | index $app_env | default ("GATEWAY_ENCRYPTION_PUBLIC_KEY" | index (ds "env") | default "") | strings.Quote}}

RABBITMQ_HOST={{"RABBITMQ_HOST" | index $app_env | default ("RABBITMQ_HOST" | index (ds "env") | default "rabbitmq")}}
RABBITMQ_PORT={{"RABBITMQ_PORT" | index $app_env | default ("RABBITMQ_PORT" | index (ds "env") | default "5672")}}
RABBITMQ_USER={{"RABBITMQ_USER" | index $app_env | default ("RABBITMQ_USER" | index (ds "env") | default "guest")}}
RABBITMQ_PASSWORD={{"RABBITMQ_PASSWORD" | index $app_env | default ("RABBITMQ_PASSWORD" | index (ds "env") | default "guest")}}

REDIS_HOST={{"REDIS_HOST" | index (ds "env") | default "redis-hap"}}
REDIS_PORT={{"REDIS_PORT" | index (ds "env") | default 6379}}
REDIS_USERNAME={{"REDIS_USERNAME" | index $app_env | default ("REDIS_HAP_USERNAME" | index (ds "env") | default "") | strings.Quote}}
REDIS_PASSWORD={{"REDIS_PASSWORD" | index $app_env | default ("REDIS_HAP_PASSWORD" | index (ds "env") | default "") | strings.Quote}}
